* {
  margin: 0;
  padding: 0;
}

.btn {
  width: 100px;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  background-color: rgb(112, 112, 247);
  color: #fff;
  border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
  color: rgb(112, 112, 247);
  background-color: whitesmoke;
  transition: color 1s, background-color 1s;
}

body {
  height: auto;
  width: 100%;
  text-align: center;
}

#storage_list {
  border: 3px solid rgb(221, 221, 221);
  border-radius: 6px;
  margin: 10px;
  list-style: none;
}

#list {
  margin-top: 30px
}

ul>li {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 0;
}

ul>li:nth-of-type(odd) {
  background-color: whitesmoke;
}

ul>li:last-child {
  border-bottom: none;
}

h1 {
  color: rgb(112, 112, 247);
  font-size: 30px;
}

li>div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title_container {
  display: flex;
  align-items: center;
}

.title_container>h1 {
  color: rgb(112, 112, 247);
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 20px;
}

.title_container>p {
  color: rgb(112, 112, 247);
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 20px;
}

li>div>h1 {
  margin: 0;
  font-family: serif;
}

li {
  width: 100%;
}

#container_add {
  margin-top: 40px;
}

.btn_container {
  padding: 0 24px;
}

#add_book {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  gap: 12px;
  margin: auto;
}

#add_book>input {
  height: 35px;
  padding-left: 10px;
  color: rgb(112, 112, 247);
  border-radius: 3px;
}

#add_book>input:focus {
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: border-bottom 1s, border-top 1s;
}

#add_book>div {
  text-align: right;
}

#add_book>div>button {
  width: 80px;
  height: 35px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  background-color: rgb(112, 112, 247);
  color: #fff;
  border-radius: 6px;
}

#add_book>div>button:hover {
  cursor: pointer;
  color: rgb(112, 112, 247);
  background-color: whitesmoke;
  transition: color 1s, background-color 1s;
}

#add_book>h3 {
  font-weight: bold;
  font-size: 27px;
  font-family: serif;
  color: rgb(112, 112, 247);
}